<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @tracker.task %>
</p>

<p>
  <strong>Note:</strong>
  <%= @tracker.note %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tracker.date %>
</p>

<%= link_to 'Edit', edit_tracker_path(@tracker) %> |
<%= link_to 'Back', trackers_path %>
